@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: 480px) {
    @content;
  }
}

:root {
  --font-emphasized: "Raleway", "M PLUS 2", "メイリオ", sans-serif;
  --font-text: "M PLUS 1", "メイリオ", sans-serif;
  --font-code: 'Inconsolata', "Consolas", monospace;

  --header-max-width: 1000px;
  --max-width: 960px;

  --bg-color: #ffffff;
  --base: #111111;
  --base-20: #11111133;
  --base-40: #11111166;
  --base-60: #11111199;
  --base-80: #111111cc;
  --white: #ffffff;

  --primary: #4052f8;
  --primary-hover: #4052f8cc;
  --primary-text-shadow: 0 0 10px #3552f533;
  --primary-box-shadow: 0 5px 10px #3552f511;

  --secondary: #ced5fc;
  --secondary-40: #ced5fc66;

  --transition-duration-text: 0.2s;
}

@mixin text-shadow {
  color: var(--primary);
  text-shadow: var(--primary-text-shadow);
}

@mixin box-shadow {
  box-shadow: var(--primary-box-shadow);
}

html,
body {
  margin: 0;
  font-family: var(--font-text);
  scroll-behavior: smooth;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-family: var(--font-emphasized);
  font-size: 2rem;
  margin-block: 2rem;
  font-weight: 500;
}

h3 {
  font-family: var(--font-emphasized);
  font-size: 1.5rem;
  margin-block: 2rem;
  font-weight: 500;
}

p,
a {
  line-height: 1.6em;
}

section {
  margin-block: 4rem;
}

.nuxt-content {
  p {
    line-height: 1.8rem;
  }

  h1 {
    font-family: var(--font-emphasized);
    font-size: 2rem;
    margin-block: 2rem;
    font-weight: 500;
  }

  h2 {
    font-family: var(--font-emphasized);
    font-size: 1.5rem;
    margin-block: 1.5rem;
    font-weight: 500;
  }

  h3 {
    font-family: var(--font-emphasized);
    font-size: 1.2rem;
    margin-block: 1.2rem;
    font-weight: 500;
  }

  code {
    font-family: var(--font-code);
    font-weight: 500;
    margin-inline: 0.2rem;
    padding: 0.1rem 0.2rem;
    color: #333;
    background: #eee;
  }
}